{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% translate "Update Post" %}{% endblock title %}
{% block content %}
<!-- Start Content Page Box Area -->
<div class="content-page-box-area">
    <div class="row">
        <div class="col-lg-3 col-md-12">
            <aside class="widget-area">
                {% if request.user.is_authenticated %}
                <div   class="widget widget-view-profile">
                    <div class="profile-box d-flex justify-content-between align-items-center">
                        <a href="#"><img width="180" src="{{request.user.profile.pp}}  " alt="image"></a>
                        <div class="text ms-2">
                            <h3><a href="#">{{request.user.username.title}}</a></h3>
                            <span>@{{request.user.username}}</span>
                        </div>
                    </div>
                    <ul class="profile-statistics">
                         
                        <li>
                            <a href="#">
                                <span class="item-number">{{request.user.posts.all.count}}</span> 
                                <span class="item-text">Posts</span>
                            </a>
                        </li>
                       
                    </ul>
                    
                    <div class="profile-btn">
                        <a href="{% url 'profile' %}" class="default-btn">{% translate "View Profile" %}</a>
                    </div>
                </div>
                {% endif %}
                
                 
                 
                <div class="widget widget-advertisement">
                    <h3 class="widget-title">{% translate "Advertisement" %}</h3>

                    <div class="advertisement-image">
                        <a href="#"><img src="{% static 'images/advertisement.jpg' %} " alt="image"></a>
                    </div>
                </div>
                
            </aside>
        </div>
        
        <div class="col-lg-6 col-md-12">
            <div class="news-feed-area">
                {% if messages %}
                {% for message in messages  %}
                    <p>{{message}}</p>
                {% endfor %}
            {% endif %}
                <div class="news-feed news-feed-form">
                    {% if request.user.is_authenticated %}
                    <h3 class="news-feed-title">{% translate "Update Post" %}</h3>

                    <form method="POST">
                        <div class="form-group">
                            {% csrf_token %}
                            
                            {{form.as_p}} 
                        </div>
                        <ul class="button-group d-flex justify-content-between align-items-center">
                            
                           
                            <li class="post-btn">
                                <button type="submit">{% translate "Post" %}</button>
                            </li>
                        </ul>
                    </form>
                     
                    
                </div>
                    {% else %}
                    <h3 class="news-feed-title">Log In to create a post</h3>
                    <a style="background-color:#0d6efd;border-radius:15px;color:white;padding:10px 10px;" href="{% url 'login'%}">Log In</a>
                    {% endif %}
                </div>
                
                 
            
                
        </div>

        
    </div>
</div>
{% endblock content %}
{% block js %}
<script>
    $(document).ready(function(){
        $("#hashs").click(function(){
          $("#hashs-list").toggle(200);
        });
        $(".hash_").click(function(){
            $('#id_content').val(`${$('#id_content').val()} ${$(this).text()}`);
        });
      });

</script>
{% endblock js %}