{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% translate "My Profile" %}{% endblock title %}

{% block content %}
            <!-- Start Content Page Box Area -->
            <div class="content-page-box-area">
                <div class="my-profile-inner-box">
                    <div class="profile-cover-image">
                        <a href="#">
                            <img src="{% static 'images/my-profile-bg.jpg' %}  " alt="image">
                        </a>
                    </div>
                   
                    <div class="profile-info-box">
                        {% if messages %}
                        {% for message in messages  %}
                            <p>{{message}}</p>
                        {% endfor %}
                    {% endif %}
                        <div class="inner-info-box d-flex justify-content-between align-items-center">
                            <div class="info-text ms-3">
                              
                                <i id='uploadTrigger'  style="border-radius:25px;border:2px black 
                                solid;padding:3px;cursor:pointer;position:absolute;margin-top:4px;margin-left:125px;" title="Düzenle" class='bx bxs-pencil'></i>  

                                <div style="border-radius:50%;object-fit: cover;width:140px;height:140px;background-image: url('{{request.user.profile.pp}}');background-size: cover;">

                                    {% if request.user.profile.is_online == True  %}
                                    <span style="border-radius:25px;height:20px;width:20px;background-color:#1DD217;position: absolute;margin-top:23px;margin-right:5px;" class="status-online"></span>
                                    {% endif %}
                                  
                                    
                                  <!--  <img style="" width=140 height=140 src="{{request.user.profile.pp}}" class="rounded-circle" id="avatar" alt="image">   -->  
                                </div>
                            
  
                                
                                <form name="upload-image" id="uploadPP">
                                    <input type="file" accept="image/png, image/gif, image/jpeg, image/jpg" style="display:none;" id="uploadFile"/>
                                </form>

                                <h3><a href="#">{{request.user.username}}</a></h3>
                                {% if request.user.profile.mail %}
                                    <span><a href="#">{{request.user.profile.mail}}</a></span>
                                    <br>
                                    <form method="POST">
                                        {% csrf_token %}
                                        <button style="border:none; cursor:pointer;border-radius:10px;background-color:  #0d6efd;color:white; padding:6px;-webkit-user-select: none;" id="add-email">{% translate  'Update Email' %}</button>
                                        <button style="border:none; cursor:pointer;border-radius:10px;background-color: red;color:white; padding:6px;-webkit-user-select: none;" id="add-email" name="delete_email" type>{% translate  'Delete Email' %}</button>
                                    </form>
                                    <form id="add-email-form" style="display:none;" method="POST" >
                                    {% csrf_token %}
                                    {{email_form}}
                                    <button style="border:none; cursor:pointer;border-radius:10px;background-color: #0d6efd;color:white; padding:4px;-webkit-user-select: none;"  type="submit" name="save_email">{% translate 'Save'%}</button>
                                </form>
                               
                                {% else %}
                                <br>
                                <small style="cursor:pointer;border-radius:10px;background-color:#0d6efd;color:white; padding:4px;-webkit-user-select: none;" id="add-email">{% translate  'EmailBtn' %}</small>
                                <form id="add-email-form" style="display:none;" method="POST" >
                                    {% csrf_token %}
                                    {{email_form}}
                                    <button style="border:none; cursor:pointer;border-radius:10px;background-color: #0d6efd;color:white; padding:4px;-webkit-user-select: none;"  type="submit" name="save_email">{% translate 'Save'%}</button>
                                </form>
                                {% endif %}
                            </div>
                            <ul class="statistics">
                                <li>
                                    <a href="#">
                                        <span class="item-number">{{ request.user.posts.all.count }}</span> 
                                        <span class="item-text">{% translate 'Posts'%}</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="item-number">{{ request.user.posts.all.hashtags.count }}</span> 
                                        <span class="item-text">{% translate 'Hashtags' %}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="profile-list-tabs">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="timeline-tab" data-bs-toggle="tab" href="#timeline" role="tab" aria-controls="timeline">Timeline</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="timeline" role="tabpanel">
                        <div class="row">
                            <div class="col-lg-3 col-md-12">
                                <aside class="widget-area">
                                    <div class="widget widget-advertisement">
                                        <h3 class="widget-title">{% translate "Advertisement" %}</h3>
        
                                        <div class="advertisement-image">
                                            <a href="#"><img src="{% static 'images/advertisement.jpg' %} " alt="image"></a>
                                        </div>
                                    </div>
                                </aside>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="news-feed-area">
                                     
                                    {% for post in request.user.posts.all  %}
                                    <div class="news-feed news-feed-post">
                                        <div class="post-header d-flex justify-content-between align-items-center">
                                            <div style="border-radius:50%;object-fit:cover;width:100px;height:75px;background-image: url('{{post.user.profile.pp}}');background-size: cover;"> </div>
                                                
                                            <div class="info ms-3">
                                                <span class="name"><a href="my-profile.html">{{post.user.username}}</a></span>
                                                <span class="small-text"><a href="#">{{post.date_added|date:'D d/m/Y'}}</a></span>
                                            </div>
                                            {% if post.user == request.user %}
                                            <div class="dropdown">
                                                <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class='bx bx-dots-horizontal-rounded' ></i></button>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item d-flex align-items-center" href="{% url 'post-detail' post.id %}"><i class='bx bx-detail'></i>{% translate "Detail Page" %}</a></li>

                                                    <li><a class="dropdown-item d-flex align-items-center" href="{% url 'post-edit' post.id %}"><i class='bx bx-edit-alt' ></i> {% translate  'Edit Post' %}</a></li>
                                                    <li><a class="dropdown-item d-flex align-items-center" href="{% url 'post-delete' post.id %}"><i class='bx bx-trash-alt' ></i>{% translate  'Delete Post' %} </a></li>
                                                
                                                </ul>
                                            </div>
                                            {% endif %}
                                        
                                        </div>
                    
                                        <div class="post-body">
                                            <p>{{post.content}}</p>
                                           
                                            <ul class="post-meta-wrap d-flex justify-content-between align-items-center">
                                                <li class="post-react">
                                                    <p>
                                                        {% for hash in post.hashtags.all %}
                                                        <a style="color:#0d6efd" href="{% url 'hashtag' hash.name %}">{{hash.name}}</a> , 
                                                        {% endfor %}
                                                    </p>                               
                                                </li> 
                                                 
                                            </ul>
                                            
                                        </div>
                                    </div>
                                    {% endfor %}
                                    {% if not request.user.posts %}
                                    <div class="load-more-posts-btn">
                                        <a href="#"><i class='bx bxs-bowl-hot' ></i> {% translate  "No post found" %}.</a>
                                    </div>
                                    {% else %}
                                    {% endif %}
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div> 

        {% endblock content %}
        {% block js %}
        <script>
            $(document).ready(function(){
                $("#add-email").click(function(){
                  $("#add-email-form").toggle(200);
                });
              });

        </script>
        <script type="text/javascript">
            $("#uploadTrigger").click(function(){
               $("#uploadFile").click();
            });
            $('#uploadFile').on('change', function(){
                var data = new FormData();
                data.append("image", $("input[id^='uploadFile']")[0].files[0]);
                data.append("csrfmiddlewaretoken", "{{ csrf_token }}");       
                data.append("operation", "add_pp");       
             
                    $.ajax({
                        method: "POST",
                        url: "{% url 'AddProfilePicture' %}",
                        processData: false,
                        contentType: false,
                        mimeType: "multipart/form-data",
                        data: data,
                        success: function(a) {
                        let object = JSON.parse(a) 
                            $( "#avatar" ).load(window.location.href + " #avatar" );
                            window.location.reload();
                            console.log(object['mesage'])
                        },
                        error: function(a) {
                            console.log(a)
                        }})
            }); 
            </script>
        {% endblock js %}
                    