{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% translate "Settings" %}{% endblock title %}
{% load static %}
{% block css %}
<style>
    .form{
        width:550px;
        margin-top:10px;
        position: relative;
    }
    .formm-control {
        
        font-family: system-ui, sans-serif;
        font-size: 2rem;
        font-weight: bold;
        line-height: 1.1;
        display: grid;
        grid-template-columns: 1em auto;
        gap: 0.10em;
      }
      input[type="checkbox"] {
        /* Add if not using autoprefixer */
        -webkit-appearance: none;
        appearance: none;
        /* For iOS < 15 to remove gradient background */
        background-color: #fff;
        /* Not removed via appearance */
        margin: 0;
        font: inherit;
        color: currentColor;
        width: 1.15em;
        height: 1.15em;
        border: 0.15em solid currentColor;
        border-radius: 0.15em;
        transform: translateY(-0.075em);
        
  display: grid;
  place-content: center;
      }
      input[type="checkbox"]::before {
          
        content: "";
        width: 0.65em;
        height: 0.65em;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        box-shadow: inset 1em 1em #3644d9;
        background-color: CanvasText;
      }
      input[type="checkbox"]:checked::before {
        transform: scale(1);
      }
      .form-control + .form-control {
        margin-top: 1em;
      }
</style>
{% endblock css %}
{% block content %}

<div style="text-align:center;margin-top:5px;">
    <h1>{% translate "Settings" %}</h1>

    <div style="text-align:right;margin-left:25px;margin-top:-5px;">
      <div style="text-align:right;margin-left:25px;margin-top:-5px;">
        <div class="form">
            <form method="POST" class="form"><br><br>
                {% csrf_token %}
                  {{form}}
                <input style="background-color:white;" class="formm-control"  type="submit" value="{% translate "Save" %}">
            </form>
        </div>
    </div> 
    </div>  
</div>


{% endblock content %}